:root {
  --bg-color: #f7f3ea;
  --white-color: #ffffff;
  --text-color: #202522;
  --button-bg: #174c4a;
  --primary-bg: #174c4a;
  --border-color: #e8ddca;
  --tag-color: #315c4a;
  --section-text-color: #6f756f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  align-items: center;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  display: flex;
  gap: 10px;
  height: 82px;
  justify-content: space-between;
  padding: 13px 24px;
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 160px);
  max-width: 1280px;
  z-index: 100;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  color: var(--text-color);
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: medium;
  font-weight: 500;
  letter-spacing: 1.8%;
  line-height: 100%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: var(--section-text-color);
}

.book-cta {
  background: var(--button-bg);
  border: none;
  border-radius: 24px;
  color: var(--white-color);
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: semibold;
  font-weight: 600;
  gap: 10px;
  letter-spacing: 1.8%;
  line-height: 100%;
  padding: 15px 25px;
  transition: all 0.3s ease;
}

.book-cta:hover {
  background: var(--border-color);
  color: var(--primary-bg);
}

.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-slider-wrapper {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.hero-slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
}

.slide-1 {
  background:
    linear-gradient(to bottom, rgba(16, 47, 45, 0.6), rgba(16, 47, 45, 0.7)),
    url(assets/hero-bg-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-2 {
  background:
    linear-gradient(to bottom, rgba(16, 47, 45, 0.6), rgba(16, 47, 45, 0.7)),
    url(assets/hero-bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-3 {
  background:
    linear-gradient(to bottom, rgba(16, 47, 45, 0.6), rgba(16, 47, 45, 0.7)),
    url(assets/hero-bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 100%;
  max-width: 1280px;
  padding: 140px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-welcome-text {
  color: var(--white-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 10%;
  padding-bottom: 24px;
}

.hero-content h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(2rem, 1.333rem + 3.333vw, 4rem);
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.018em;
  color: var(--white-color);
  padding-bottom: 24px;
}

.hero-sub-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--bg-color);
  padding-bottom: 48px;
  max-width: 640px;
  text-align: center;
}

.hero-ctas {
  display: flex;
  gap: 12px;
}

.hero-ctas button {
  padding: 17px 23px;
  border-radius: 26px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1.8%;
}

.primary-btn {
  background: var(--white-color);
  border: none;
  color: var(--button-bg);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.secondary-btn {
  background: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.hero-slider-indicator {
  display: flex;
  gap: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.hero-slider-indicator .indicator-dot {
  width: 40px;
  height: 5px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.4);
}

.hero-slider-indicator .indicator-dot.active {
  background: var(--white-color);
}

.about-section {
  width: 100%;
  padding: 100px 10px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
}

.about-container {
  background: var(--bg-color);
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 84px;
  border-radius: 16px;
}

.about-text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-tag {
  color: var(--tag-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 8%;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: var(--button-bg);
}

.section-sub-text {
  color: var(--section-text-color);
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  max-width: 550px;
  text-align: center;
}

.about-text-content p {
  text-align: left;
}

.section-link-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.8%;
  text-decoration: underline;
  color: var(--button-bg);
}

.about-image-content img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.room-section,
.experience-section,
.gallery-section,
.testimonial-section {
  width: 100%;
  padding: 100px 10px;
  display: flex;
  justify-content: center;
  background: var(--bg-color);
}

.room-text-content,
.experience-text-content,
.gallery-text-content,
.testimonial-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-bottom: 37px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
}

.card {
  background: var(--white-color);
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.card-image img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0px 0px;
}

.card-text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--primary-bg);
}

.card-sub-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--section-text-color);
}

.card-link-text {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  color: var(--button-bg);
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.experience-section {
  background: var(--border-color);
}

.gallery-section {
  background: var(--white-color);
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 24px;
  width: 100%;
  padding-bottom: 20px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.gallery-link {
  display: flex;
  justify-content: flex-end;
}

.item-pool {
  grid-column: span 2;
  grid-row: span 2;
}

.item-path{
  grid-column: span 1;
  grid-row: span 1;
}
.item-spa{
  grid-column: span 1;
  grid-row: span 1;
}
.item-balcony{
  grid-column: span 1;
  grid-row: span 1;
}
.item-dining{
  grid-column: span 1;
  grid-row: span 1;
}

.gallery-link-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0%;
  text-decoration: underline;
  color: var(--button-bg);
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.testimonial-rating {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.testimonial-rating-sub-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: var(--section-text-color);
  line-height: 22px;
}

.testimonial-rating-content {
  background: var(--white-color);
  padding: 24px;
  border-radius: 16px 16px 0px 0px;
  flex-grow: 1;
}

.testimonial-cards {
  align-items: stretch;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
}

.testimonial-card-profile {
  padding: 24px;
  background: var(--primary-bg);
  border-radius:  0px 0px 16px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile-text-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: var(--white-color);
}

.profile-name {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.profile-position {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}